nav{
	a{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
	}
}



a:hover, a:focus, a:active{
	opacity: 0.5;
}

nav{
	text-align: right;
}

.nav-item{
	padding: 0px 10px;
	font-size: 0.9rem;
}

header {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	min-width: 768px;

}

.header-what, .header-who, nav{
	min-width: 33.3%;
}

.header-what{
	text-align: left;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.9rem;
}

.header-who{
	text-align: center;
}










